<page-home>
    <div class="container-fluid">

        <div class="items">
            <div class="title">
                <h1>Backbase Frontend Developer Exercise 2.2</h1>
            </div>

        </div>

        <api-error ng-if="citiesError">
            <div class="items">
                <div class="errors text-center">
                    {{ citiesError.data.message }}
                </div>
            </div>
        </api-error>
        <div ng-repeat="city in citiesData.list track by $index">
            <div class="items">
                <div class="item text-left weather-city">
                    {{ city.name }}
                </div>
                <div class="item weather-wind text-center">
                    <div>
                        <span class="nowrap">Wind ( {{ city.wind.speed }} )</span>
                    </div>
                    <div>
                        <span class="nowrap">{{ city.wind.deg | windDirection }}</span>
                    </div>
                </div>
                <div class="item weather-temp text-center">
                    <span class="nowrap">{{ city.main.temp | roundUp }} °C</span>
                </div>
                <div class="item weather-image text-center">
                    <span>
                        <img ng-src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png" ng-alt="{{c.weather[0].main}}" />
                    </span>
                    <div class="text-center">
                        <span class="nowrap">
                            ( {{ city.weather[0].main }} )
                        </span>
                    </div>
                </div>
                <div class="item btn-more text-center">
                    <a class="weather-more" ng-click="ShowForecast($event,$index, city.id)">
                        <i class="fa fa-chevron-circle-up fa-4x"></i>
                    </a>
                </div>
                <forcast class="item forcast hide">
                    <api-error ng-if="forcastError">
                        <div class="items">
                            <div class="errors text-center">
                                {{ forcastError.data.message }}
                            </div>
                        </div>
                    </api-error>
                    <div class="forcast-details">
                        <div class="items">
                            <div ng-repeat="details in forcastData.list">
                                <div class="details text-center">
                                    <span>
                                        <img ng-src="http://openweathermap.org/img/w/{{details.weather[0].icon}}.png" ng-alt="{{c.weather[0].main}}" />
                                    </span>
                                    <div class="text-center">
                                        <span class="nowrap">
                                            {{ details.weather[0].main }}
                                        </span>
                                    </div>
                                    <div class="text-center">
                                        <span class="nowrap">
                                            {{ details.dt * 1000 | date:'MM/dd' }}
                                        </span>
                                    </div>
                                    <div class="text-center">
                                        <span class="nowrap">
                                            <b>{{ details.dt * 1000 | date:'hh:mm a' }}</b>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </forcast>

        </div>
        <!-- <div class="forcast hide">
                <h1>Forecast Goes Here</h1>
            </div> -->

        <!-- <div class="items">
            <div class="item">
                {{ c }}                    
            </div>
        </div> -->
    </div>
    </div>
</page-home>