page-home {
    @import url('https://fonts.googleapis.com/css?family=Oswald');
    
    h1 { color: burlywood }

    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        background: #e0ddd5; 
        justify-content: center;
    }

    .items .title {
        flex: 0 0 100%;
        padding: 10px;
    }

    .items .item {
      flex: 1 0 5%;
      box-sizing: border-box;
      background: #e0ddd5;
      color: #171e42;
      padding: 10px;
    }

    .items .details {
        flex: 1 0 1%;
        box-sizing: border-box;
        background: #e0ddd5;
        color: #171e42;
        padding: 10px;
    }

    .items .errors {
        flex: 1 0 1%;
        box-sizing: border-box;
        background: crimson;
        color: white;
        padding: 10px;
    }

    .items .weather-city {
        font: 600 30px/1.4 Oswald,Arial,sans-serif;
    }

    .items .weather-wind {
        flex: 0 0 20%;
        font: 600 20px/1.4 Oswald,Arial,sans-serif;
        padding-right: 20px;
    }

    .items .weather-temp {
        flex: 0 0 1%;
        font: 600 40px/1.4 Oswald,Arial,sans-serif;
        padding-right: 20px;
        align-items: flex-end;
    }

    .items .weather-image {
        flex: 0 0 1%;
        padding-right: 20px;
    }    

    .items .btn-more {
        flex: 0 0 1%;
    }

    .items .forcast {
        flex: 0 0 100%
    }

    .nowrap {
        white-space: nowrap;
    }    

    .weather-spin-fast {
        -webkit-animation: weather-spin-fast 0.2s infinite linear;
        animation: weather-spin-fast 0.2s infinite linear;
    }
    @-webkit-keyframes weather-spin-fast {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    @keyframes weather-spin-fast {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }    

    @media screen and (max-width: 600px) {
        .items .weather-city {
            flex: 1 0 100%;
        }

        .items .weather-wind,
        .items .weather-temp,
        .items .weather-image,
        .items .btn-more {
            flex: 0 0 25%;
        }        
    }
    @media screen and (max-width: 525px) {
        .items .weather-city {
            flex: 1 0 100%;
        }
        
        .items .weather-wind,
        .items .weather-temp,
        .items .weather-image,
        .items .btn-more {
            flex: 0 0 50%;
        }
            
        
    }
    
    @media screen and (max-width: 300px) {
        .items .weather-city {
            flex: 1 0 100%;
        }
        
        .items .weather-wind,
        .items .weather-temp,
        .items .weather-image,
        .items .btn-more {
            flex: 0 0 100%;
        }        
    }
}